@model AAWSA.Models.Complaint

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h4>Complaint</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="House_number" class="control-label"></label>
                <input asp-for="House_number" class="form-control" />
                <span asp-validation-for="House_number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone_number" class="control-label"></label>
                <input asp-for="Phone_number" class="form-control" />
                <span asp-validation-for="Phone_number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Wereda" class="control-label"></label>
                <input asp-for="Wereda" class="form-control" />
                <span asp-validation-for="Wereda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subcity" class="control-label"></label>
                <input asp-for="Subcity" class="form-control" />
                <span asp-validation-for="Subcity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="caseType" class="control-label"></label>
                <input asp-for="caseType" class="form-control" />
                <span asp-validation-for="caseType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ComplaintType" class="control-label"></label>
                <input asp-for="ComplaintType" class="form-control" />
                <span asp-validation-for="ComplaintType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recipient" class="control-label"></label>
                <input asp-for="Recipient" class="form-control" />
                <span asp-validation-for="Recipient" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
